<!DOCTYPE html>
<html>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Page </title>
    {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
  <a class="w3-bar-item w3-button" href="#">Link 1</a>
  <a class="w3-bar-item w3-button" href="#">Link 2</a>
  <a class="w3-bar-item w3-button" href="#">Link 3</a>
</div>

<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<span class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</span>
<div class="w3-container w3-indigo w3-xlarge">
    {% if head %}
    <h2>{{head}}</h2>
    {% else %}
    <h2>Page Content</h2>
    {% endif %}
    <p>
        {% block content %}
        {% endblock %} 
    </p>
</div>
     
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
          
</body>
</html>