<!-- Here, we added enctype to the form element. It is necessary for uploading files. -->
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.homepage.label(class="form-control-label") }}
                {% if form.homepage.errors %}
                    {{ form.homepage(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.homepage.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.homepage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock content %}